*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav {
    display: grid;
    grid-template-rows: 1fr;
    height: 100px;
    background-color: #4655E6 ;
    font-family: "Poppins", sans-serif;
    font-size: 19px;

}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    list-style: none;

}
ul li a {
    text-decoration: none;
    color: white;
}   

/* Form Mockup 1 */
.mockup1container {
    display: grid;
    place-items: center;
    min-height: 405px;
    background-color: rgb(32, 32, 246);
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
}


.formcontainer {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 25px;                
    background-color: #4655E6;
    height: 600px;
    width: 800px;
    justify-content: center;      
    align-content: center;
    padding-top: 40px;
}

.headerdisplay {
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    color: white;
    font-size: 23px;
}

.formsdisplay {
    display: grid;
    align-items: center;
    row-gap: 35px;

}

.inputstextcontainer {
    display: grid;
    row-gap: 20px;
}

.formsdisplay-2 {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    width: auto;
    height: 42px;
}

.formsdisplay-3 {
    display: grid;
    width: auto;
    height: 42px;
}

.inputstyle {
    
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Poppins", sans-serif;
}

.submitbutton {
    width: 140px;
    height: 55px;
    background-color: white;
    color: rgb(79, 79, 250);
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;

}


/* Form Mockup 2 */

.mockup2container {
    display: grid;
    place-items: center;
    min-height: 405px;
    padding: 40px 0;
    background-color: rgb(123, 213, 183);
    font-family: "Poppins", sans-serif;
}

.formcontainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 55px;                
    background-color: #F0ECE9;
    height: 600px;
    width: 1050px;
    padding: 50px;
    padding-left: 70px;
    place-items: center;
    border-radius: 14px;
    row-gap: 20px;
}

.mockup2image {
    width: auto;
    height: 450px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.contactuscontainer {
    display: grid;
    grid-template-rows: 1fr;
    width: 320px;
    row-gap: 40px;
    place-items: start;
    color: rgb(1, 1, 110);
}

.inputcontainerstyle2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
}

.inputstyle2 {

    width: 210px;
    height: 62px;
    border: none;
    border-bottom: 3px solid  rgb(1, 1, 110);
    outline: none;
    background-color:transparent ;
    font-size: 18px;
    padding-bottom: 10px;
    color: rgb(133, 132, 132);
}
.contactusbutton {
    width: 170px;
    height: 35px;
    background-color: rgb(1, 1, 110);
    color: #F0ECE9;
    border-radius: 20px;
    font-size: 12px;
}

.informationstyle {

    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 250px;
    align-self: end;
    place-items: start;
    color: rgb(1, 1, 110);
    
}

section.informationstyle {
    padding-top: 7px;
}

.logostyle {

    display: grid;
    height: 180px;
    grid-auto-flow: column;
    justify-content: start;
}


/* Form Mockup 3 */

.mockup3container {
    display: grid;
    place-items: center;
    min-height: 405px;
    padding: 40px 0;
    background-color: rgb(202, 201, 201);
    font-family: "Poppins", sans-serif;

}

.formcontainer3 {

    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 55px;                
    background-color: white;
    height: 600px;
    width: 950px;
    padding: 50px;
    padding-left: 70px;
    align-items: start;
    border-radius: 10px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}


.formcontainerstyle3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
}
/* INPUT LEFT PART */
.inputleftcontainerstyle3 {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    height: 350px;
}

.inputleftrowsstyle3 {
    display: grid;
    grid-template-columns: 1fr;

}

.phonenumberstyle3 {

    display: grid;
    grid-template-rows: 1 fr;
    
}

.inputstyle3 {
    width: 390px;
    height: 45px;
    padding-left: 10px;
    border: none;
    background-color: #E6ECF5;
    border-radius: 3px;
}

.inputstyle3-phone {
    width: 344px;
    height: 45px;
    padding-left: 10px;
    border: none;
    background-color: #E6ECF5;
    border-radius: 3px;
}

/*  INPUT RIGTH PART  */

.inputrightcontainerstyle3 {

    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    row-gap: 20px;
}

.inputrightstyle3 {
    display: grid;
    grid-template-columns: 1fr;
    height: 100px;
    
}

input.inputrightstyle3 {
    display: grid;
    grid-template-rows: 1fr;
    place-items: start;
    height: 170px;
    margin-top: 20px;
}

.textareaMessage {
    width: 420px;
    height: 170px;
    background-color: #E6ECF5;
    border: none;
    margin-top: 23px;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

label {
    height: 10px;
    font-size: 17px;
}

.booknowbutton {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttonnowstyle {
    display: grid;
    width: 830px;
    grid-template-columns: 1fr 1fr;
    place-items: end;
} 

.divbuttonnowstyle {    
    display: grid;
    place-items: end;
    width: 785px;

}
input.divbuttonnowstyle {
    width: 80px;
    height: 40px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color:#3f80f7;
    text-align: end;
    color: white;
    font-size: 14px;
}

/* Form Mockup 4 */

.mockup4container {
    display: grid;
    place-items: center;
    min-height: 405px;
    padding: 40px 0;
    background-color: rgb(222, 221, 221);
    font-family: "Poppins", sans-serif;

}

.formcontainer4 {

    display: grid;
    grid-template-rows: 1fr 1fr;               
    background-color: rgb(245, 245, 245);
    height: 650px;
    width: 950px;
    padding: 30px;
    padding-left: 30px;
    border-radius: 20px;
    border: 2px solid rgba(237, 169, 183, 0.703);
    row-gap: 10px;
    font-family: "Poppins", sans-serif;
    
}

.formcontainerstyle4 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 535px;
}

/* MAIN INFORMATION AREA */
.maininformation4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.maininformationleft4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.maininformationright4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.maininformationorder4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 55px;
}

.inputstyle4 {
    width: 400px;
    height: 27px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(199, 199, 199);
    background-color: rgb(250, 250, 250);
}
select.inputstyle4 {
    width: 400px;
    height: 27px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(199, 199, 199);
    background-color: rgb(250, 250, 250);
}

/* ADDRESS AREA */
.addressinformation {
    height: 150px;
}
.textareaMessageform4 {
    width: 874px;
    height: 98px;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(199, 199, 199);
    margin-top: 23px;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    font-family: "Poppins", sans-serif;
}

.addressorder4 {
    display: grid;
    grid-template-rows: 1fr;
    height: 100px;
}

/* CITY INFORMATION & CV AREA */
.cityinformationCVcontainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 10px;
    row-gap: 20px;
}
.cityinformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;;
}
.cityinformationorder {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 60px;
}

.CVinformation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}
.CVinformationorder {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 60px;
    row-gap: 20px;
}

/* APPLY NOW BUTTON */
.applynowbutton {
    display: grid;
    justify-content: end;
    align-items: center; 
    height: 100px;
    padding-right: 20px;
}

.applynowbutton input {
    width: 180px;
    height: 42px;
    font-size: 20px;
    color: white;
    background-color: #376ed6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


