*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Form Mockup 1 */
.mockup1container {
    display: grid;
    place-items: center;
    min-height: 405px;
    background-color: rgb(32, 32, 246);
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
}


.formcontainer {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 25px;                
    background-color: #4655E6;
    height: 600px;
    width: 800px;
    justify-content: center;      
    align-content: center;
    padding-top: 40px;
}

.headerdisplay {
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    color: white;
    font-size: 23px;
}

.formsdisplay {
    display: grid;
    align-items: center;
    row-gap: 35px;

}

.inputstextcontainer {
    display: grid;
    row-gap: 20px;
}

.formsdisplay-2 {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    width: auto;
    height: 42px;
}

.formsdisplay-3 {
    display: grid;
    width: auto;
    height: 42px;
}

.inputstyle {
    
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Poppins", sans-serif;
}

.submitbutton {
    width: 120px;
    height: 45px;
    background-color: white;
    color: rgb(79, 79, 250);
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;

}


/* Form Mockup 2 */

.mockup2container {
    display: grid;
    place-items: center;
    min-height: 405px;
    padding: 40px 0;
    background-color: rgb(123, 213, 183);
    font-family: "Poppins", sans-serif;
}

.formcontainer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 55px;                
    background-color: #F0ECE9;
    height: 600px;
    width: 1050px;
    padding: 50px;
    padding-left: 70px;
    place-items: center;
    border-radius: 14px;
}

.mockup2image {
    width: auto;
    height: 450px;
}

.contactuscontainer {
    display: grid;
    grid-template-rows: 1fr;
    width: 320px;
    row-gap: 40px;
    place-items: start;
    color: rgb(1, 1, 110);
}

.inputcontainerstyle2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
}

.inputstyle2 {

    width: 210px;
    height: 62px;
    border: none;
    border-bottom: 3px solid  rgb(1, 1, 110);
    outline: none;
    background-color:transparent ;
    font-size: 18px;
    padding-bottom: 10px;
    color: rgb(133, 132, 132);
}
.contactusbutton {
    width: 170px;
    height: 35px;
    background-color: rgb(1, 1, 110);
    color: #F0ECE9;
    border-radius: 20px;
    font-size: 12px;
}

.informationstyle {

    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 250px;
    align-self: end;
    place-items: start;
    /* row-gap: 10px; */
    color: rgb(1, 1, 110);
    
}

section.informationstyle {
    padding-top: 7px;
}

.logostyle {

    display: grid;
    height: 180px;
    grid-auto-flow: column;       /* <-- Hace que los iconos vayan uno al lado del otro */
    justify-content: start;       /* Opcional: controla alineación horizontal */             /* <-- ESTA LÍNEA los baja al fondo de la celda */
    gap: 10px;    
}


